@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600;700&family=Krona+One&family=Montserrat&family=Playfair+Display&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100&family=Roboto&display=swap');
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(260deg, #b75d62, #754d4f);
}
body::-webkit-scrollbar {
    display: none;
  }
.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    padding: 0rem 15%;
    overflow: hidden;
    position: absolute;
}
nav{
    min-height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15%;
}

.logo{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.image-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    flex: 1;
    z-index: 2;
}
.image-container img{
    width: 80%;
}
.showcase-text{
    color: #fff;
    flex: 1;
    padding-bottom: 10rem;
    text-align: center;
}
.showcase-title{
    font-size: 3rem;
}
.showcase-subtitle{
    font-size: 1rem;
    padding: 3rem 0rem;
    font-weight: 400;
}
.showcase-button{
    padding: 0.75rem 2.5rem;
    border: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 0.8rem;
}
.showcase-arrow{
    position: absolute;
    right: 15%;
    bottom: 10%;
}
.circle{
    position: absolute;
}
.circle-1{
    left: -3%;
    bottom: -3%;
    transform: scale(2);
}
.circle-2{
    left: 35%;
    bottom: 10%;
}
.circle-3{
    left: 20%;
    top: 15%;
    transform: scale(1.5);
}
.product-section{
    background: #fff;
    min-height: 90vh;
    position: absolute;
    width: 100%;
    z-index:  5;
    overflow: hidden;
}
.product-description{
    padding: 5% 15%;
    color: #4b4b4b;
}
.product-description h2{
    font-size: 2rem;
}
.product-description p{
    font-size: 1.2rem;
    padding: 1rem 0rem;
}
.product-gallery{
    display: grid;
    padding: 0% 15%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:2rem;
}
.product-gallery .product-img{
    width: 100%;
    border-radius: 1rem;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
    .showcase{
        flex-direction: column;
        padding: 10%;
        justify-content: space-evenly;
        min-height: 85vh;
    }
    .image-container{
        min-height: 30vh;
        justify-content: center;
        order: 1;
    }

    .circle-1, .circle-2{
        display: none;
    }
    .circle-3 {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) scale(3);
    }

    .showcase-title{
        font-size: 1.5rem;
    }
    .showcase-subtitle{
        font-size: 1rem;
        padding: 2rem 0rem;
    }
    .showcase-text{
        padding-bottom:0 ;
    }
    .showcase-arrow{
        right: 5;
        bottom: 20%;
        transform: scale(0.8);
    }
}